body{
    background: lightblue;
}


.navbar-brand {
    margin-left: 20px;;
    
}

.container {
    margin-top: 60px;
    background: white;
}
.suitpic{
    height: 220px;
    width: 200px;
    padding-bottom: 10px;
    
}
.bio{
    padding-top: 10px;
    padding-left: 10px;
    padding-right: 10px;
    text-align: center;
}

.grouppicture {
    height: 350px;
    width: 450px;
    display: block;
    
}

.footer {
    position:absolute;
   bottom:0;
   width:100%;
   background: white;
}

@media (min-width: 768px) {
    .container-small {
        width: 300px;
    }
    .container-large {
        width: 970px;
    } 
} 
@media (min-width: 992px) {
    .container-small {
        width: 500px;
    }
    .container-large {
        width: 1170px;
    } 
} 
@media (min-width: 1200px) {
    .container-small {
        width: 700px;
    }
    .container-large {
        width: 1500px;
    } 
}

.container-small, .container-large {
    max-width: 100%;
}