body{
    background: lightblue;
}

.navbar{
    margin-left: 100px;
    margin-right: 100px;
}

.navbar-brand {
    margin-left: 20px;;
    
}

.container {
    margin-top: 60px;
    background: white;
}
.dummyimage{
    height: 220px;
    width: 200px;
    
}
.bio{
    padding-top: 10px;
    padding-left: 10px;
    padding-right: 10px;
}