body{
    background: lightblue;
    position: relative;
}


.navbar-brand {
    margin-left: 20px;;
    
    
}

.container {
    margin-top: 60px;
    background: white;
}
.suitpic{
    height: 100;
    width: 200px;
    padding-bottom: 10px;
    
}
.bio{
    padding-top: 10px;
    padding-left: 10px;
    padding-right: 10px;
    text-align: center;
}

.group-picture {
    width: 100%;
    display: block;
    
}

.footer {
    position:fixed;
   bottom:0;
   width:100%;
   background: white;
}

#github {
    text-align: center;
    justify-content: center;
    padding-top: 5px;
    border: 12px solid rgb(211, 139, 153);
}

.weatherwear {
    max-width: 100%;
    max-height: 100%;
    padding-top: 3px;
}

.weatherdashboard {
    max-width: 100%;
    max-height: 100%;
    padding-top: 3px;
}

.codequiz {
    max-width: 100%;
    max-height: 100%;
    padding-top: 3px;
}

.dayplanner {
    max-width: 100%;
    max-height: 100%;
    padding-top: 3px;
}