body{
    background: lightblue;
    position: relative;
}


.navbar-brand {
    margin-left: 20px;;
    
}

.container {
    margin-top: 60px;
    background: white;
}
.suit-pic{
    height: 220px;
    width: 200px;
    padding-bottom: 10px;
    
}
.bio{
    padding-top: 10px;
    padding-left: 10px;
    padding-right: 10px;
    text-align: center;
}

.group-picture {
    width: 100%;
    display: block;
    
}

.footer {
    position:fixed;
   bottom:0;
   width:100%;
   background: white;
}
